{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center" style="margin-top: 100px;">Lessons</h1>
<table class="table">
    <thead>
        <th>Date</th>
        <th>Time</th>
        <th>Subject</th>
        <th>Pupil</th>
        <th>Place</th>
        <th></th>
    </thead>
    <tbody>
        {% for lesson in user.lessons %}
        <tr>
            <td>{{ lesson.date }}</td>
            <td>{{ lesson.time }}</td>
            <td>{{ lesson.subject }}</td>
            <td>{{ lesson.pupil }}</td>
            <td>{{ lesson.place }}</td>
            <td>
                <button type="button", class="close", onClick="deleteLesson({{ lesson.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </td>  
        </tr>
        {% endfor %}
    </tbody>
</table>
<div align="center">
    <a class="w3-button w3-red w3-padding-large w3-large w3-margin-top" id="create" href="/create">Create lesson</a>   
</div>
{% endblock %}
