{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Lessons</h1>
<ul class="list-group list-group-flush" id="Lessons">
    {% for lesson in user.lessons %}
    <li class="list-group-item">{{ lesson.data }}
        <button type="button" class="close" onClick="deleteLesson({{ lesson.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="lesson" id="lesson" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button href="/create-lesson" class="btn btn-primary">Create Lesson</button>
    </div>
</form>
{% endblock %}
