<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skolotāju kalendārs</title>
</head>
<style type='text/css'>

    body {
        background-color:#fdfdfd;
   }

    h1 {
        color:#17175e;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 50px;
        text-align: center;
    }
    img {
        scale: 0.3;
        text-align: left;
        ;
    }
</style>
<body>
    <h1>Skolotāju kalendārs</h1>
    <img src="https://cdn.prod.website-files.com/652427f5a7e6506f73697244/65c1479d5dc21e8e3c528068_5ca4b074e9c52631fc36f901_Schedule-Time.png">

</body>
   
</html>
